$main-background: rgb(9, 11, 26);
$card-background: rgb(27, 25, 56);
$accent: rgb(170, 92, 219);

$main-heading-stats: rgb(255, 255, 255);
$main-paragraph: rgba(255, 255, 255, 0.75);
$stat-headings: rgba(255, 255, 255, 0.6);

$Family-Inter: 'Inter', sans-serif;
$Family-Lexend-Deca: 'Lexend Deca', sans-serif;